build/
.venv/
.venv-x86/
.peer-review/
symquery/
misc/*.h
libs/SDL
*__pycache__*
*.log
Release/
*.pyd
*.so
*.o
rectbinpack/_rbp.cpp
pypy/
config.ini
plugins/test.py
symbols.json
out/
sprite-packs/
sprite-backups/
